body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
button:hover {
    transform: scale(1.1);
}
#quiz {
    width: 650px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    background-color: lightblue;
    border: 12px solid lightblue;
    border-radius: 8px;
}
#top-container {
    width: inherit;
    height: 60px;
    background-color: lightblue;
}
#game-container {
    flex-grow: 1;
    display: flex;
    width: inherit;
    background-color: rgb(255, 250, 224);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}
#help-button {
    align-self: flex-end;
    position: absolute;
    top: 5px;
    right: 55px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px transparent;
    font-family: arial black, sans-serif;
    background-color: lightgreen;
    box-shadow: 0 3px 5px black;
    font-size: 25px;
}
#exit-button {
    align-self: flex-end;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px transparent;
    font-family: arial black, sans-serif;
    background-color: red;
    box-shadow: 0 3px 5px black;
    font-size: 25px;
}
#question-Text {
    align-self: center;
    font-family: arial black, sans-serif;
}
#previous-button {
    margin-right: 10px;
    background-image: url('../images/Previous.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0 none;
    width: 40px;
    height: 40px;
}
#next-button {
    margin-left: 10px;
    background-image: url('../images/Next.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0 none;
    width: 40px;
    height: 40px;
}
#true-button {
    background-image: url('../images/Oikein\ Ж.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0 none;
    width: 90px;
    height: 45px;
}
.correct {
    background-image: url('../images/Oikein\ Ж.png');
}
.correct_green {
    background-image: url('../images/Oikein\ З.png');
}
.correct_red {
    background-image: url('../images/Oikein\ К.png');
}
#false-button {
    background-image: url('../images/Väärin\ Ж.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0 none;
    width: 90px;
    height: 45px;
}
.incorrect {
    background-image: url('../images/Väärin\ Ж.png');
}
.incorrect_green {
    background-image: url('../images/Väärin\ З.png');
}
.incorrect_red {
    background-image: url('../images/Väärin\ К.png');
}
.button {
    
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}